input {
	margin: 10px 10px;  
	float: left; 
}

select {
	display: block; 
	margin: 10px 10px; 
	float: left; 
}

#gender {
	clear: left; 
}

#submit_button {
	float: none; 
	margin: 5px auto 20px auto; 
	clear: both; 
	width: 200px; 
}

td {
	text-align: center; 
}

table {
	margin: 10px auto; 
}

.query_fields {
	overflow: auto; 
}

.msg {
	text-align: center; 
}